Intro to Dataframes

In [1]:
import pandas as pd

In [23]:
#make a new dataframe with column header A B C and index row x y z
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=["A", "B", "C"], index=["x", "y", "z"])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [24]:
#view upper row:
df.head(2)

   A  B  C
x  1  2  3
y  4  5  6

In [25]:
#view bottom row:
df.tail(1)

   A  B  C
z  7  8  9

In [26]:
#see header
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
#show index
df.index.tolist()

['x', 'y', 'z']

In [ ]:
#describe data of df
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [32]:
#find unique value in each column
df.nunique()

#filter specific unique in each column
df['A'].unique()

array([1, 4, 7])

In [ ]:
#show shape of the data frame in row, columns
df.shape

(3, 3)

In [34]:
#show memory impact
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0+ bytes